# Variáveis e Operadores

***

## Regras para definir nomes de variáveis

   1. Não podem começar com números
   2. Não pode haver espaços no nome (utilizar _ por exemplo
   3. Não pode utilizar símbolos / caracteres especiais (PEP8)
   4. Não pode utilizar palavras reservadas

## Operadores de atribuição

Operador | Significado | Exemplo
---|---|---
= | Atribuição | z= 10
+= | Soma | z+= 10 (equivalente a z = z + 10)
-= | Subtração | z-= 10 (equivalente a z = z - 10)
*= | Multiplicação | z*= 10 (equivalente a z = z * 10)
/= | Divisão | z/= 10 (equivalente a z = z / 10)
%= | Módulo | z%= 10 (equivalente a z = z % 10)
**= | Potência | z**= 10 (equivalente a z = z ** 10)
//= | Divisão inteira | z//=10 (equivalente a z = z // 10)

## Operadores Lógicos

Operador | Significado | Exemplo
---|---|---
AND | se ambos operadores forem true, retorna true | (x and y) é true 
OR | se um dos operadores forem true, retorna true | (x or y) é true 
NOT | Utilizado para reverter o estado da lógica | not (x and y) é false

In [6]:
# Atribuição de valor para a variável var_teste
var_teste = 1

In [10]:
# Imprimindo o valor da variável
var_teste

1

In [9]:
# Imprimindo o valor da variável com a função print
print(var_teste)

1

In [11]:
# Não podemos utilizar uma variável que não foi definida. Mensagem de erro
my_var

NameError: name 'my_var' is not defined

In [12]:
var_teste = 2

In [13]:
var_teste

2

In [14]:
#função tipo
type(var_teste)

int

In [15]:
var_teste = 9.5

In [16]:
type(var_teste)

float

In [17]:
x = 1

In [18]:
x

1

## Declaração Múltipla

In [19]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [20]:
pessoa1

'Maria'

In [21]:
pessoa2

'José'

In [22]:
pessoa3

'Tobias'

In [25]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [26]:
fruta1

'Laranja'

In [27]:
fruta2

'Laranja'

In [28]:
x1 = 50

In [29]:
x1

50

## Atribuindo variáveis a outras variáveis e ordem dos operadores

In [42]:
largura = 2

In [43]:
altura = 4

In [44]:
area = largura * altura

In [45]:
area

8

In [46]:
perímetro = 2 * largura + 2 *altura

In [47]:
perímetro

12

In [48]:
# Respeita a regra dos operadores na matemática
perímetro = 2 * (largura + 2) * altura

In [49]:
perímetro

32

## Operações com variáveis

In [38]:
idade1 = 25

In [39]:
idade2 = 35

In [40]:
idade1 + idade2

60

In [52]:
idade2 - idade1

10

In [53]:
idade1 * idade2

875

In [54]:
idade2 / idade1

1.4

In [55]:
idade2 % idade1

10

## Concatenação de variáveis

In [56]:
nome = "Diego"

In [57]:
sobrenome = "Carloni"

In [58]:
nome_completo = nome + " " + sobrenome

In [60]:
nome_completo

'Diego Carloni'

## Fim